<footer>
    <div class="flex footer-inner">
        <div class="info">
            <a href="" title="" class="logo"></a>
            <h4>Trường mầm non Himawari Preschool</h4>
            <p>Số 1, ngõ 55, Huỳnh Thúc Kháng, Đống Đa, Hà Nội</p>
            <p>E-mail: <a href="mailto:himawaripreschool@google.com">himawaripreschool@google.com</a></p>
            <p>Hotline: <a href="tel:012345678">012345678</a></p>
        </div>
        <div class="register">
            <h2>Đăng ký thông tin</h2>
            <form action="" method="" class="register_form">
                <div class="form-group">
                    <input type="text" name="fullname" placeholder="Họ và tên..." required>
                </div>
                <div class="form-group">
                    <input type="number" name="phone" placeholder="Số điện thoại..." required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="E-mail..." required>
                </div>
                <input type="submit" class="btn btn-submit flex-center" value="Đăng ký">
            </form>
        </div>
        <div class="box-chat">
            <a href="" title="" class="btn btn-chat flex-center">CHAT <br> ONLINE</a>
        </div>
    </div>
</footer>