<header>
    <nav class="navbar navbar-expand-lg">
        <a class="logo" href="/"></a>
        <button class="navbar-toggler border-0" type="button"><span></span></button>
        <div class="navbar-collapse" id="menu">
            <a href="javascript:;" class="close" data-miss="collapse"><i class="fas fa-times"></i></a>
            <ul class="navbar-nav">
                <li><a href="http://localhost:8000/gioi-thieu.html" title="Giới thiệu">Giới thiệu</a></li>
                <li><a href="http://localhost:8000/chuong-trinh.html" title="Chương trình">Chương trình</a></li>
                <li><a href="http://localhost:8000/dinh-duong.html" title="Dinh dưỡng">Dinh dưỡng</a></li>
                <li><a href="http://localhost:8000/tuyen-sinh.html" title="Tuyển sinh">Tuyển sinh</a></li>
                <li><a href="http://localhost:8000/lien-he.html" title="Liên hệ">Liên hệ</a></li>
                <li><a href="http://localhost:8000/blog.html" title="Blog hoạt động">Blog hoạt động</a></li>
            </ul>
        </div>
        <div class="modal-menu"></div>
    </nav>
</header>

