@function v($var) {
  @return var(--#{$var});
}
:root{
  --wheat: #67340f;
  --slate-grey: #58595b;
  --hover: #5f734b;
  --black: #000;
  --size1: 36px;
  --size2: 30px;
  --size3: 24px;
  --size4: 48px;
  --size5: 20px;
  --pdt1: 45px;
}
.icon{background: url("#{$img-path}/icons.png") no-repeat 0 0;}

body {
  background: url("#{$img-path}/bg-body.png");
  font-family: 'Mali', cursive;
  font-weight: 600;
  font-size: 14px;
  color: v(black);
  overflow-x: hidden;
}
// ---------- header --------- //
header{
  width: 100%;
  min-height: vw(247px);
  background: url("#{$img-path}/bg-header.png") no-repeat 0 0/100% 100%;
  position: relative;
  .logo{
    width: vw(156px); height: vw(191px); display: block;
    background: url(#{$img-path}/logo.png) no-repeat 0 0/contain;
    position: absolute; top: vw(18px); left: 50%; transform: translateX(-50%);
  }
}
.navbar{padding: 0;}
.navbar-nav{
  width: 100%; padding: vw(92px) vw(187px) 0;
  li{margin: 0 vw(24px);}
  li:nth-child(3){margin-right: vw(225px);}
  a{display: block; color: #000; font-size: vw(28px); letter-spacing: vw(1.68px); line-height: vw(33px);}
  a:hover,a.active{color: v(hover);}
}
.navbar-collapse{
  .close{display: none;}
}

// ---------- main home----------- //

.slider_himawari{
  width: 100%; height: vw(899px);
  padding-top: vw(174px);
  margin-top: vw(-112px);
  background: url(#{$img-path}/bg-hoala.png) no-repeat 0 0/100% 100%;
  .item{
    &:after,&:before{
      content: "";
      position: absolute;
    }
    &:before{
      width: vw(1326px); height: vw(88px);
      background: url("#{$img-path}/tvd.png") no-repeat 0 0/100% 100%;
      left: 0; top: 0;
    }
    &:after{
      width: vw(68px); height: vw(492px);
      background: url("#{$img-path}/rb.png") no-repeat 0 0/100% 100%;
      top: vw(87px); right: 0;
    }
  }
  .item_inner{
    height: 100%;
    &:before,&:after{content: ""; position: absolute;}
    &:before{
      width: vw(54px); height: vw(492px);
      background: url("#{$img-path}/lb.png") no-repeat 0 0/100% 100%;
      top: vw(87px); left: 0;
    }
    &:after{
      width: vw(1326px); height: vw(73px);
      background: url("#{$img-path}/bb.png") no-repeat 0 0/100% 100%;
      bottom: 0; left: 0;
    }
  }
  .slider{
    width: vw(1326px); height: vw(651px);
    margin: 0 auto;
    iframe{margin: 0 auto; width: 99.5%; height: vw(650px); border-radius: 40px;}
    .item{width: 100%; height: vw(651px); text-align: center;}
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  .slick-arrow{
    width: vw(48px); height: vw(78px);
    background: url("#{$img-path}/icon-next1.png") no-repeat 0 0/contain;
  }
  .slick-next{right: vw(-100px);}
  .slick-prev{left: vw(-100px);}
  &_btn{
    width: vw(104px); height: vw(104px);
    display: block; margin-left: vw(40px);
    background: url(#{$img-path}/btn-play.png) no-repeat 0 0/contain;
    animation: pulse 1s infinite linear;
  }
}
.introduce{
  width: 100%; min-height: vw(720px);
  padding-top: vw(122px);
  background: url(#{$img-path}/bg-hoa.png) repeat 0 0/contain;
  &_content{
    max-width: vw(1330px); margin: 0 auto;
  }
  .text{
    margin-right: vw(70px);
    max-width: vw(605px);
    p{
      font-size: vw(27px); font-weight: 500;
      line-height: vw(40px); letter-spacing: vw(1.68px);
      text-align: justify;
    }
  }
  .img-container{max-width: vw(654px);}
  h2.title{
    margin-bottom: vw(38px);
    font-size: vw(41px); 
    letter-spacing: vw(2.46px); line-height: vw(61px);
  }
}
.subjects{
  min-height: vw(575px);
  margin-bottom: vw(62px);
  background: url("#{$img-path}/bg-hoa1.png") repeat 0 0/contain;
  &_list{
    margin-top: vw(95px);
    justify-content: center;
    li{display: block; margin: 0 vw(36px); width: 100%; max-width: vw(320px);}
    .thumb{
      display: block; padding-bottom: vw(302px);
      position: relative;
      img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
    }
    h3{
      margin-bottom: 0;
      padding-right: vw(20px);
      text-align: center;
      font-size: vw(28px);
      line-height: vw(40px);
      letter-spacing: vw(1.68px);
      a{color: #000;}
    }
    h3:before{
      content: "";
      width: vw(70px); height: vw(68px); display: block;
      float: left;
      margin: vw(9px) vw(25px) 0 0;
      background: url("#{$img-path}/leaf.png") no-repeat 0 0/contain;
    }
  }
  h2.title:after{margin-top: vw(23px);}
}
.feature{
  width: 100%; min-height: vw(1496px);
  padding-top: vw(67px);
  background: url(#{$img-path}/bg-leaf.png) repeat 0 0/contain;
  h2.title{line-height: vw(70px);}
  h2.title:after{margin-top: vw(10px);}
  &_list{
    margin: vw(13px) auto 0;
    max-width: vw(1022px);
    justify-content: center;
  }
  .item p{
    font-weight: 500;
    font-size: vw(20px); line-height: vw(34px);
    letter-spacing: vw(1.68px); text-align: center;
  }
  .item1{
    width: vw(506px); height: vw(431px);
    padding: vw(152px) vw(80px) 0 vw(135px);
    background: url("#{$img-path}/box1.png") no-repeat 0 0/contain;
  }
  .item2{
    width: vw(480px); height: vw(514px);
    padding: vw(175px) vw(70px) 0 vw(60px);
    margin: vw(90px) 0 0 vw(36px);
    background: url("#{$img-path}/box2.png") no-repeat 0 0/100% 100%;
    p{line-height: vw(30px);}
  }
  .item3{
    width: vw(537px); height: vw(476px);
    padding: vw(155px) vw(80px) 0 vw(160px);
    margin: vw(-115px) 0 0 vw(3px);
    background: url("#{$img-path}/box4.png") no-repeat 0 0/contain;
  }
  .item4{
    width: vw(448px); height: vw(438px);
    margin-top: vw(62px);
    padding: vw(146px) vw(88px) 0 vw(81px);
    background: url("#{$img-path}/box3.png") no-repeat 0 0/contain;
  }
  .item1,.item4{
    p{color: #d36d2f;}
  }
  .item2,.item3{
    p{color: #6f8f42;}
  }
}
.blog{
  width: 100%; min-height: vw(1115px);
  margin-top: vw(70px);
  background: url("#{$img-path}/bg-hoala1.png") repeat 0 0/contain;
  h2.title{
    margin-bottom: vw(67px);
    &:after{
      width: vw(250px); height: vw(16px);
      margin-top: vw(15px);
      background: url("#{$img-path}/line2.png") no-repeat 0 0/contain;
    }
  }
  .thumb_blog{
    width: vw(266px);
    display: block;
    float: left;
    overflow: hidden;
    img{transition: transform .5s linear;}
    &:hover img{transform: rotate(-5deg) scale(1.1);}
  }
  &_container{
    width: vw(1201px); min-height: vw(1109px);
    margin: 0 auto; padding-top: vw(66px);
    background: url(#{$img-path}/paper.png) no-repeat 0 0/100% 100%;
  }
  &_item{
    width: vw(754px); min-height: vw(311px);
    margin: 0 auto;
    time{
      display: inline-block;
      height: vw(30px);
      margin-top: vw(12px);
      padding: 0 vw(6px);
      color: #58595b; font-size: vw(18px);
      font-weight: 500;
      border-radius: 4px;
    }
    h3{margin: vw(22px) 0 0; font-size: vw(28px); line-height: vw(40px);}
    h3 a{color: #000;}
    .btn-view{
      display: block;
      margin-top: vw(-10px);
      text-align: right;
      color: #58595b;
      &:hover{color: #1d697b;}
    }
    .content{
      padding-left: vw(38px);
      overflow: auto;
    }
  }
  &_item:nth-child(even){
    margin-bottom: vw(57px);
    padding: vw(34px) vw(100px) vw(62px) vw(43px);
    background: url("#{$img-path}/blog1.png") no-repeat 0 0/100% 100%;
    time{background: #bbdfe8;}
  }
  &_item:nth-child(odd){
    margin-bottom: vw(45px); width: vw(752px); min-height: vw(306px);
    padding: vw(30px) vw(100px) vw(64px) vw(41px);
    background: url("#{$img-path}/box-v-ng.png") no-repeat 0 0/100% 100%;
    time{background: #fbef6e;}
  }
  .btn_view{
    width: vw(283px); height: vw(92px);
    margin: 0 auto;
    background: url("#{$img-path}/btn1.png") no-repeat 0 0/contain;
    font-size: vw(28px); color: #58595b; letter-spacing: vw(1.68px);
    &:after{
      content: "";
      width: vw(15px); height: vw(20px); display: block;
      margin-left: vw(21px);
      background: url(#{$img-path}/arrow.png) no-repeat 0 0/contain;
    }
    &:hover{color: #333;}
  }
}
.fanpage{
  margin: vw(112px) 0 0;
  padding-bottom: vw(115px);
  background: url("#{$img-path}/bg-hoa2.png") no-repeat 0 0/100%;
  iframe{margin: 0 auto;}
  .box-fanpage{
    display: flex;
    justify-content: center;
    padding-top: vw(28px);
    width: vw(980px);
    margin: 0 auto;
    &.mobile{display: none;}
  }
}
.popup-video{
  .modal-dialog{max-width: 100%;}
  .modal-content{
    width: 872px;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
  }
  .close{
    width: 36px; height: 36px;
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
    position: absolute; top: -18px; right: -18px;
    opacity: .8;
  }
  iframe{width: 100%; height: 100%;}
}

//category
main.category{
  margin-top: vw(-42px);
  width: 100%;
  background: url("#{$img-path}/bg-hoala2.png") no-repeat 0 0/100%;
  .fanpage{
    margin: vw(74px) 0;
    padding-bottom: 0;
    .box-fanpage{padding-top: 0;}
  }
  .header{
    padding: vw(106px) 0 vw(195px);
  }
  h1.title{
    display: block;
    margin: 0;
    font-size: vw(73px); letter-spacing: vw(4.38px);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    span{
      display: flex;
      justify-content: center;
    }
    &:after{
      content: "";
      width: vw(376px); height: vw(22px);
      display: block; margin: vw(10px) auto 0;
      background: url("#{$img-path}/line.png") no-repeat 0 0/contain;
    }
    span:after, span:before{
      content: "";
      width: vw(90px); height: vw(86px);
      display: block; margin: vw(7px) vw(30px) 0 0;
      background: url("#{$img-path}/leaf1.png") no-repeat 0 0/contain;
    }
    span:after{
      margin: vw(7px) 0 0 vw(30px);
      transform: rotateY(180deg);
    }
  }
}
.intro{
  padding: 0 15px;
  justify-content: center;
  h2{
    display: block;
    text-align: center;
    margin-bottom: vw(32px);
    font-size: vw(40px);
    line-height: vw(50px);
    letter-spacing: vw(2.4px);
    font-weight: 600;
  }
  p{
    margin-bottom: vw(15px);
    font-size: vw(24px);
    font-weight: 400;
    line-height: vw(34px);
    font-family: Roboto, sans-serif;
    text-align: justify;
  }
  p:last-child{margin-bottom: 0;}
  img{max-width: 100%;}
}
.intro_nutrition{
  .intro_text{max-width: vw(840px); margin-right: vw(47px);}
  .intro_img{max-width: vw(603px);}
}
.intro_himawari{
  .intro_text{max-width: vw(693px); margin-right: vw(69px);}
  .intro_img{max-width: vw(808px);}
}
.food_import{
  margin: vw(40px) 0 vw(85px);
  background: url("#{$img-path}/bg-leaf2.png") no-repeat 0 0/cover;
  padding: vw(95px) 0 vw(102px);
  h2.title:after{display: none;}
  .process{
    max-width: vw(1357px);
    margin: vw(63px) 0 0 vw(375px);
  }
}
.food_list{
  padding-top: vw(12px);
  background: url("#{$img-path}/bg-leaf1.png") no-repeat 0 0/contain;
  h2.title{
    width: vw(1054px);
    display: flex;
    padding: vw(18px) vw(70px);
    margin: 0 auto vw(40px);
    background: url("#{$img-path}/bg-heading1.png") no-repeat 0 0/100% 100%;
    &:after{display: none;}
  }
  p{
    margin-bottom: 0;
    text-align: center;
    font-size: vw(28px);
    line-height: vw(50px);
    letter-spacing: vw(1.68px);
    font-weight: 400;
    span{font-weight: 600;}
  }
}
.food_menu{
  max-width: vw(1330px);
  margin: vw(162px) auto 0;
  text-align: center;
  .menu_list{
    margin-top: vw(23px);
    justify-content: center;
    li{padding: vw(37px) vw(25px);}
    h3{margin: vw(32px) 0 0; font-size: vw(28px); letter-spacing: vw(1.68px); font-weight: 600;}
    h3 a{color: v(black);}
    h3 a:hover{color: v(hover);}
    a:focus{outline: none;}
    .thumb_food{
      width: vw(393px);
      padding-bottom: 63.706%;
      border-radius: 30px;
      overflow: hidden;
      img{position: absolute; top: 0; left: 0; transition: 1s;}
      &:hover img{transform: scale(1.1);}
    }
  }
  .slick-arrow{
    width: vw(48px); height: vw(78px);
    background: url("#{$img-path}/icon-next.png") no-repeat 0 0/contain;
    top: 47%;
  }
  .slick-next{right: vw(-120px);}
  .slick-prev{left: vw(-120px);}
}
.teacher{
  margin: vw(80px) 0 0;
  padding: vw(93px) 0 vw(100px);
  background: url("#{$img-path}/bg-leaf.png") repeat 0 0/100%;
  h2.title{text-transform: none;}
  &_list{
    margin-top: vw(48px);
    justify-content: center;
    .info{margin-right: vw(41px); max-width: vw(295px);}
    .img-avatar{max-width: vw(270px);}
    h5, span{font-weight: 600;}
    h5{font-size: vw(28px); letter-spacing: vw(1.68px);}
    span{display: block; margin: vw(2px) 0 vw(21px); font-size: vw(20px); letter-spacing: vw(1.2px); line-height: initial;}
    p{
      margin-bottom: 0;
      font-size: vw(24px); line-height: vw(40px); font-weight: 400;
      font-family: Roboto, sans-serif; text-align: justify;
    }
  }
  &_info{padding: vw(40px) vw(65px);}
}
.program{
  background: url("#{$img-path}/bg-hoa3.png") repeat 0 0/100%;
  &_tab{
    justify-content: center;
    li{margin: 0 vw(17px);}
    li:nth-child(1) a{
      transform: rotateY(180deg);
      span{transform: rotateY(-180deg);}
    }
    li:nth-child(1).active a{
        transform: rotateY(0deg);
        span{transform: rotateY(0deg);}
    }
    li:nth-child(2).active a{
      transform: rotateY(180deg);
      span{transform: rotateY(-180deg);}
    }
    a{
      width: vw(482px); height: vw(137px); display: flex;
      align-items: center; justify-content: center;
      background: url("#{$img-path}/bg-heading2.png") no-repeat 0 0/contain;
      font-size: vw(40px); font-weight: 500; color: #808285; letter-spacing: vw(2.4px);
      transition: 0s;
    }
    li.active a{
      background: url("#{$img-path}/bg-heading-active.png") no-repeat 0 0/contain;
      color: #e49a21; font-weight: 700;
    }
  }
}
.timeline{
  padding: vw(29px) 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  .icon-clock{
    width: vw(117px); height: vw(117px); display: block;
    background: url("#{$img-path}/icon-clock.png") no-repeat 0 0/contain;
  }
  &_time{
    margin: vw(40px) vw(48px) 0 0;
    span{
      display: block;
      margin-top: vw(14px);
      text-align: center; font-size: vw(40px); letter-spacing: vw(2.4px);
      line-height: initial;
    }
  }
  &_content{
    width: vw(908px);
    max-width: vw(960px);
    align-items: center;
    h4{
      width: vw(388px);
      max-width: vw(390px);
      font-size: vw(40px);letter-spacing: vw(2.4px);
      font-weight: 600;
    }
    p{
      max-width: vw(520px);
      padding-left: vw(46px);
      margin-bottom: 0; 
      font-size: vw(28px); line-height: vw(40px); letter-spacing: vw(1.68px); 
      font-weight: 500; text-align: justify;
    }
  }
  &_img{
    width: vw(269px);
    max-width: vw(269px);
    margin-left: vw(74px);
    img{display: block; margin: 0 auto;}
  }
  &:after{
    content: "";
    width: vw(907px); height: 1px;
    display: block;
    background: #808285;
    position: absolute; bottom: 0; left: 50%; transform: translateX(-60%);
  }
  &:nth-child(1){margin-top: vw(30px)}
  &:last-child:after{display: none;}
}
.himawari_edu{
  margin-top: vw(20px);
  padding: vw(87px) 0 vw(90px);
  background: rgba(#fff369,.45);
  h2.title:after{display: none;}
  .item{
    margin: vw(97px) auto 0;
    justify-content: center;
    align-items: center;
    p{margin-bottom: 0;}
    &_text{max-width: vw(702px);}
    &_img{margin-right: vw(106px);}
    .img_sun{max-width: vw(380px);}
    .img_moon{max-width: vw(177px);}
    .img_tree{max-width: vw(318px);}
  }
  .item:nth-child(odd){
    flex-direction: row-reverse;
    .item_img{margin: 0 0 0 vw(106px);}
  }
}
.himawari_event{
  margin: vw(80px) 0;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  h4,time{display: block; text-align: center;}
  h4{margin-bottom: 0; font-size: vw(50px); font-weight: 600; letter-spacing: vw(3px); text-transform: uppercase;}
  time{font-size: vw(40px); letter-spacing: vw(2.4px); line-height: initial;}
  .content{
    max-width: vw(575px); margin-right: vw(65px);
    p{margin: vw(8px) 0 0; line-height: vw(50px);}
  }
  .img-container{max-width: vw(505px);}
  &:nth-child(even){
    flex-direction: row-reverse;
    margin-left: vw(-127px);
    .content{margin: 0 0 0 vw(50px);}
  }
  &:nth-child(odd){
    margin-right: vw(-145px);
  }
}
.himawari_blog{
  max-width: vw(1210px);
  margin: 0 auto;
  padding-bottom: vw(45px);
  .blog_list{
    margin: vw(32px) auto 0; justify-content: center;
  }
  h2.title{
    line-height: vw(60px);
    text-transform: none;
    &:after{display: none;}
  }
  h3{
    margin-bottom: 0;
    padding: vw(14px);
    font-size: vw(28px); font-weight: 600;
    line-height: vw(40px); letter-spacing: vw(1.68px); text-align: center;
  }
  h3 a{color: #010101;}
  h3 a:hover{color: v(hover);}
  p{
    margin-bottom: 0;
    padding: 0 vw(5px);
    font-size: vw(24px); 
    line-height: vw(34px); 
    font-family: Roboto, sans-serif; font-weight: 400;
    text-align: justify;
  }
  article{
    padding: vw(42px) vw(18px);
    max-width: vw(403px);
  }
  .btn-view{
    width: vw(165px); height: vw(74px);
    margin-top: vw(-10px); padding-bottom: vw(10px);
    font-size: vw(24px); letter-spacing: vw(1.44px); color: #000;
    background: url("#{$img-path}/btn2.png") no-repeat 0 0/contain;
    float: right; position: relative;
  }
}
.himawari_class{
  padding-bottom: vw(79px);
  text-align: center;
  .box_table{margin-top: vw(90px);}
  table{
    margin: 0 auto;
    max-width: vw(1328px);
    border-collapse: collapse;
    th{padding: 0 vw(22px) vw(55px);}
    th span,tr td:first-child span{
      width: vw(282px); height: vw(77px);
      display: flex; align-items: center; justify-content: center;
      border-radius: 20px;
      font-size: vw(36px); letter-spacing: vw(2.4px);
    }
    tr td:first-child span{
      font-size: vw(28px); line-height: vw(32px);
    }
    th span{background: #f0b456;}
    th:nth-child(even){
      span{background: #f7d56f;}
    }
    tr td:first-child span{
      background: #70995b;
    }
    tr:nth-child(even) td:first-child span{background: #bede9d;}
    tbody{
      tr td:first-child{border: none; padding-right: vw(68px);}
      td{
        padding: vw(44px) 0 0;
        border-bottom: 1px solid #58595b;
        border-right: 1px solid #58595b;
        font-size: vw(28px); letter-spacing: vw(1.68px);
      }
    }
  }
}
.himawari_tuition{
  padding: vw(70px) 0;
  background: rgba(#fff369,.45);
  text-align: center;
}
.tuition_list{
  max-width: vw(940px);
  margin: vw(40px) auto 0;
  text-align: left;
  li{
    margin-bottom: vw(24px);
    p{padding-left: vw(145px); margin-bottom: 0;}
    .note{padding-left: vw(120px); font-weight: 500; font-style: italic;}
  }
  li:last-child{margin-bottom: 0; padding-bottom: 0;}
  h4,p,li{font-size: vw(28px); font-weight: 600; letter-spacing: vw(1.68px);}
  h4:before{
    content: "";
    display: inline-block;
  }
  li:nth-child(odd){
    padding-bottom: 5px;
    h4:before{
      width: vw(80px); height: vw(73px);
      margin: 0 vw(30px) vw(-18px) 0;
      background: url("#{$img-path}/folwer.png") no-repeat 0 0/contain;
    }
  }
  li:nth-child(even){
    padding-bottom: vw(10px);
    h4:before{
      width: vw(62px); height: vw(59px);
      margin: 0 vw(39px) vw(-10px) 0;
      background: url("#{$img-path}/leaf.png") no-repeat 0 0/contain;
    }
  }
}
.himawari_guide{
  margin-top: vw(62px);
  background: url("#{$img-path}/bg-guide.png") no-repeat 0 33px/100%;
  h2.title:after{display: none;}
  article{margin-top: vw(55px);}
  .guide{
    width: vw(1203px);
    margin: 0 auto;
    padding: vw(96px) vw(172px) vw(100px) vw(211px);
    background: url("#{$img-path}/paper.png") no-repeat 0 0/100% 100%;
    h4{margin-bottom: vw(16px); font-size: vw(40px); letter-spacing: vw(2.4px); font-weight: 600;}
    p{font-size: vw(24px); line-height: vw(34px); font-family: Roboto, sans-serif; font-weight: 400;}
  }
}
.himawari_contact{
  max-width: vw(970px);
  margin: 0 auto;
  h2.title_line{margin-bottom: vw(36px);}
  p{margin: 0 0 vw(50px) vw(54px); font-size: vw(28px); letter-spacing: vw(1.68px); overflow: auto;}
  span{padding-top: vw(10px);}
  .phone{padding-top: vw(14px);}
  .icon{display: block; float: left;}
  .icon-address{
    width: vw(40px); height: vw(60px);
    margin: 0 vw(47px) 0 vw(11px);
    background: url("#{$img-path}/icon-address.png") no-repeat 0 0/contain;
  }
  .icon-email{
    width: vw(62px); height: vw(42px);
    margin-right: vw(37px);
    background: url("#{$img-path}/icon-mail.png") no-repeat 0 0/contain;
  }
  .icon-phone{
    width: vw(64px); height: vw(60px);
    margin-right: vw(35px);
    background: url("#{$img-path}/icon-phone.png") no-repeat 0 0/contain;
  }
  a,span{display: block; color: #000;}
}
.himawari_register{
  padding: vw(63px) 0 vw(15px);
  background: url("#{$img-path}/bg-register.png") no-repeat 0 0/100%;
}
.himawari_map{
  margin-top: vw(130px);
  padding-bottom: vw(65px);
  background: url("#{$img-path}/bg-map.png") no-repeat 0 0/100%;
  .map{
    width: vw(1309px); height: vw(766px);
    margin: 0 auto; border-radius: 20px;
    box-shadow: 2.2px 3.4px 4px 0 rgba(0, 0, 0, 0.3), -0.8px 0.4px 4px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    iframe{width: 100%; height: 100%; border-radius: 20px;}
  }
}
.form_register{
  width: vw(981px);
  background: #f2cf6b;
  margin: 0 auto;
  padding: vw(45px) 0 vw(38px);
  box-shadow: 2.2px 3.4px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  h4{margin-bottom: vw(60px); font-size: vw(40px); letter-spacing: vw(2.4px); font-weight: 600;}
  .form-group{margin-bottom: vw(35px);}
  input{
    width: vw(680px); height: vw(67px);
    padding: 0 vw(40px);
    border-radius: 20px;
    border: none;
    color: #808285; font-size: vw(28px);
    font-weight: 400; font-style: italic;
  }
  input:focus{outline: none;}
  .btn-submit{
    width: vw(223px); height: vw(79px);
    margin: vw(54px) auto 0;
    background: #f57c00;
    border-radius: 9999px;
    box-shadow: 2.2px 3.4px 4px 0 rgba(0, 0, 0, 0.3);
    font-size: vw(35px); letter-spacing: vw(2.1px);
    font-weight: 600;
    color: #fff; cursor: pointer;
  }
}
.page_article{
  width: 100%;
  background: url("#{$img-path}/bg-blog.png") no-repeat 0 80px;
  background-size: 100%;
  .article{max-width: vw(980px); margin: 0 auto;}
  h2.title{
    text-align: left;
    line-height: vw(60px);
    &:after{display: none;}
  }
  time{
    display: block;
    margin: vw(20px) 0 vw(50px);
    font-size: vw(28px); color: #58595b; letter-spacing: vw(1.68px);
    }
  .content_detail{
    font-size: vw(24px); line-height: vw(34px);
    font-family: Roboto, sans-serif; font-weight: 400;
    img{max-width: 100%; display: block; margin: 30px 0;}
  }
}

//footer
footer{
  margin-top: 50px;
  background: rgba(#f9f4ba,.79);
  padding: vw(50px) vw(62px) vw(50px) vw(130px);
  position: relative;
  .footer-inner{justify-content: center;}
  .logo{
    width: vw(117px); height: vw(144px); display: block;
    margin-bottom: vw(44px);
    background: url("#{$img-path}/logo.png") no-repeat 0 0/contain;
  }
  .info{
    h4,p{line-height: vw(30px);}
    a{color: #000;}
    h4{
      margin-bottom: vw(27px);
      font-size: vw(28px); letter-spacing: vw(1.68px);
      font-weight: 600;
    }
    p{margin-bottom: vw(4px); font-size: vw(20px); letter-spacing: vw(1.2px);}
  }
  .register{
    padding: vw(36px) vw(90px) 0 vw(40px);
    .form-group{margin-bottom: vw(6px);}
    h2{
      margin-bottom: vw(12px);
      font-size: vw(40px); line-height: initial;
      letter-spacing: vw(2.4px);
      font-weight: 600;
    }
    input{
      width: vw(689px); height: vw(77px);
      background: url("#{$img-path}/bg-input.png") no-repeat 0 0/contain;
      border: none;
      padding: 0 vw(40px) vw(8px);
      font-size: vw(20px); line-height: initial;
      font-weight: 500;
      &::placeholder{font-weight: 500;}
      &:focus{outline: none;}
    }
    .btn-submit{
      width: vw(173px); height: vw(74px); padding: 0;
      background: url("#{$img-path}/btn2.png") no-repeat 0 0/contain;
      font-size: vw(28px); letter-spacing: vw(1.68px);
      font-weight: 600; float: right;
    }
  }
  .btn-chat{
    width: vw(310px); height: vw(281px);
    margin-top: vw(70px);
    padding-bottom: vw(45px);
    background: url("#{$img-path}/chat.png") no-repeat 0 0/contain;
    font-size: vw(40px); line-height: initial; letter-spacing: vw(2.4px);
    color: #000; font-weight: 600;
  }
  &:after{
    content: "";
    width: 100%; height: vw(58px); display: block;
    background: rgba(#bbdfe8,.79);
    position: absolute; left: 0; bottom: vw(-58px);
  }
}

//uikit
h2.title{
  display: block;
  text-align: center; text-transform: uppercase;
  font-size: vw(40px); letter-spacing: vw(2.4px);
  font-weight: 600;
  &:after{
    content: "";
    width: vw(376px); height: vw(22px);
    display: block; margin: vw(13px) auto 0;
    background: url("#{$img-path}/line.png") no-repeat 0 0/contain;
  }
}
h2.title_block{
  display: flex;
  justify-content: center; align-items: center;
  width: vw(482px); height: vw(137px);
  margin: 0 auto;
  background: url("#{$img-path}/bg-heading.png") no-repeat 0 0/contain;
  &:after{display: none;}
}
h2.title_line{
  display: inline-block;
  padding: vw(20px) vw(74px);
  background: url("#{$img-path}/bg-heading1.png") no-repeat 0 0/100% 100%;
  font-size: vw(40px); letter-spacing: vw(2.4px);
  text-align: center; font-weight: 600;
}
.thumb{
  display: block;
  position: relative;
  img{width: 100%; height: 100%; object-fit: cover; border-radius: 14px;}
}
.slick-arrow{
  position: absolute; top: 50%; transform: translateY(-50%);
  font-size: 0; border: none; cursor: pointer; z-index: 9;
  &.slick-disabled{display: none !important;}
}
.slick-prev{transform: translateY(-50%) rotate(180deg);}
p.normal{
  font-size: vw(28px);
  line-height: vw(40px);
  letter-spacing: vw(1.68px);
  font-weight: 500;
  text-align: justify;
}
img{max-width: 100%;}
.hidden_tab{
  opacity: 0; height: 0; visibility: hidden;
  > *{height: 0; overflow: hidden; z-index: 0; visibility: hidden}
}
.show_tab{
  opacity: 1; height: auto; z-index: 90; transform: translateY(0); transition: 0.6s; visibility: visible;
  > *{height: auto;  z-index: 9; visibility: visible}
}

@media (min-width: 320px) and (max-width: 768px){
  @function vwm($target) {
    $vw-context: (768 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .navbar-toggler{
    display: block;
    width: 24px;
    height: 24px;
    padding: 0; position: absolute;
    top: 10px;
    right: 15px;
    background: none; border: none;
    span{
      display: block; width: 24px; height: 3px;
      background: #319ab5; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 24px; height: 3px; background: #319ab5; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 24px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 21px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-collapse{
    width: calc(100% - 30%);
    max-width: 400px;
    height: 100%;
    display: block;
    padding-bottom: 40px;
    background: #faf5bc;
    position: fixed; right: calc(70px - 100%); top: 0;
    transition: right .3s linear;
    z-index: 999;
    ul{height: 100%; overflow: auto; border-top: 1px solid #ada983;}
    .close{display: block; padding: 5px;}
  }
  .navbar{
    &.active{
      .navbar-collapse{right: 0;}
    }
  }
  .navbar-nav{
    li{margin: 7px 0;}
    a{font-size: 16px; line-height: initial;}
  }
  header{
    min-height: 68px;
    .logo{width: 49px; height: 60px; top: 2px;}
  }
  main.category{
    h1.title{
      font-size: vwm(40px);
      span:after,span:before{display: none;}
    }
    .fanpage{margin: vwm(80px) 0 0;}
    .header{
      padding: vwm(50px) 0 vwm(80px);
    }
  }
  .slider_himawari{
    margin-top: vwm(-58px); padding: vwm(80px) 0 vwm(60px);
    .item{
      img{height: 98%; width: 99%;}
    }
    .slick-arrow{
      width: vwm(35px); height: vwm(59px);
    }
    .slick-next{right: vwm(-80px);}
    .slick-prev{left: vwm(-80px);}
    .slider{
      iframe{width: 99%; border-radius: 10px;}
    }
  }
  .introduce{
    padding: 30px 15px;
    .text,.img-container{max-width: 50%;}
    .text{
      margin-right: 0; padding-right: 15px;
      p{font-size: vwm(20px); line-height: initial;}
    }
    h2.title{font-size: vwm(32px); line-height: initial;}
    &_content{
      align-items: center;
      max-width: 100%;
    }
  }
  .subjects{
    background: url("#{$img-path}/bg-hoa1m.png") repeat 0 0/contain;
    &_list{
      padding: 0 15px;
      li{max-width: 38%; margin: 4%;}
      .thumb{padding-bottom: 100%; margin-bottom: 10px;}
      h3{font-size: vwm(28px); line-height: initial;}
    }
  }
  .feature{
    padding: 30px 0;
    h2.title{line-height: initial;}
    &_list{max-width: vwm(1000px); justify-content: flex-start;}
    .item{
      p{font-size: vwm(20px); line-height: inherit;}
    }
    .item1{
      width: vwm(450px); height: vwm(383px);
      padding: vwm(160px) vwm(50px) 0 vwm(90px);
    }
    .item2{
      width: vwm(458px); height: vwm(490px);
      margin: vwm(-100px) 0 0 vwm(290px);
      padding: vwm(170px) vwm(70px) 0 vwm(60px);
    }
    .item4{
      width: vwm(420px); height: vwm(411px);
      margin: 0 0 0 vwm(340px);
      padding: vwm(150px) vwm(60px) 0 vwm(60px);
    }
    .item3{
      width: vwm(490px); height: vwm(434px);
      padding: vwm(140px) vwm(50px) 0 vwm(140px);
    }
  }
  .blog{
    margin-top: vwm(50px);
    &_container{
      width: vwm(620px);
      padding: vwm(50px) 0 vwm(30px) vwm(30px);
    }
    &_item{
      width: vwm(480px); height: auto; overflow: auto;
      time{
        padding: 0 5px;
        font-size: 11px;
        height: auto;
      }
      h3{font-size: 11px; line-height: initial;}
      .btn-view{margin-top: 0; padding: 5px 0; font-size: 11px;}
    }
    &_item:nth-child(odd){
      width: vwm(480px); height: auto;
    }
    .thumb_blog{
      width: vwm(180px);
    }
    .btn_view{
      width: vwm(220px); height: vwm(72px);
      font-size: vwm(22px);
      &:after{
        width: vwm(10px); height: vwm(15px);
        margin-top: vwm(5px);
      }
    }
  }
  .fanpage{
    .box-fanpage{
      width: 100%;
      margin: 0 auto;
      max-height: 500px;
      &.pc{display: none;}
      &.mobile{display: flex;}
    }
  }

  .intro{
    h2,p{line-height: inherit;}
    h2{font-size: vwm(30px);}
    p{font-size: 13px; text-align: center;}
  }
  .intro_nutrition,.intro_himawari{
    .intro_text{max-width: 100%; margin-right: 0; padding-right: 15px;}
    .intro_img{max-width: 55%; margin-top: 15px;}
  }

  .food_import{
    .process{padding: 0 10px; max-width: 100%; margin: 15px 0;}
  }
  .food_list{
    h2.title{width: 75%; font-size: vwm(26px); margin-bottom: 20px;}
    p{max-width: 80%; margin: 0 auto 5px; font-size: vwm(24px); line-height: inherit;}
  }
  .food_menu{
    max-width: 100%;
    padding: 0 20px;
    .menu_list{
      margin-top: 30px;
      h3{margin: 15px 0 0; font-size: vwm(24px);}
      li{padding: 10px 7px;}
      .thumb_food{width: 100%; padding-bottom: 70%; border-radius: 10px;}
    }
    .slick-arrow{width: vwm(40px); height: vwm(64px); top: 46%;}
    .slick-next{right: vwm(-30px);}
    .slick-prev{left: vwm(-30px);}
  }
  .program{
    &_tab{
      a{width: vwm(300px); height: vwm(85px); font-size: vwm(24px);}
    }
  }
  .timeline{
    padding: 15px;
    .icon-clock{
      width: vwm(80px); height: vwm(80px);
    }
    span{font-size: vwm(24px);}
    &_img{max-width: vwm(180px);}
    &_content{
      justify-content: center;
      h4,p{max-width: 100%;}
      h4{ width: 100%; text-align: center; font-size: vwm(30px);}
      p{padding-left: 0 10px; font-size: vwm(20px); line-height: initial;}
    }
  }
  .himawari_event{
    margin: vwm(80px) 0;
    .content{max-width: 55%; margin-right: 0; padding-right: 15px;}
    .img-container{max-width: 45%;}
    &:nth-child(odd){margin-right: 0;}
    &:nth-child(even){
      margin-left: 0;
      .content{margin: 0; padding: 0 0 0 15px;}
    }
    .content p{line-height: initial;}
    h4{font-size: vwm(40px);}
    time{font-size: vwm(30px);}
    p{font-size: vwm(14px);}
  }
  .himawari_edu{
    .item{
      margin-top: vwm(80px);
      &_text{max-width: 50%;}
      .img_sun{max-width: vwm(300px);}
      .img_moon{max-width: vwm(137px);}
      .img_tree{max-width: vwm(240px);}
    }
  }
  .teacher{
    &_info{
      max-width: 86%; margin: 0 auto; padding: 15px 10px;
      align-items: center;
      &:nth-child(even){
        flex-direction: row-reverse;
        .info{padding: 0 0 0 10px;}
      }
    }
    &_list{
      .info{margin-right: 0; padding-right: 10px;}
      .info{max-width: 60%;}
      .img-avatar{max-width: 40%;}
      h5{margin-bottom: 5px; font-size: vwm(28px);}
      span{font-size: vwm(22px);}
      p{font-size: 13px; line-height: inherit; text-align: left;}
    }
  }
  .himawari_blog{
    max-width: 100%;
    padding: 0 5px;
    h2.title{line-height: inherit;}
    h3{margin-bottom: vwm(15px); font-size: vwm(26px); line-height: initial;}
    p{font-size: vwm(22px); text-align: left; line-height: inherit;}
    article{max-width: 50%; padding: 15px 10px;}
    .btn-view{
      width: vwm(165px); height: vwm(74px);
      margin: 0 vwm(15px) 0 0;
      font-size: vwm(22px);
    }
  }
  .himawari_contact{
    max-width: 80%;
    text-align: center;
    h2.title_line{margin-bottom: 20px;}
    p{font-size: vwm(24px); text-align: left;}
    .phone{padding-top: vwm(14px);}
    .icon-address{width: vwm(40px); height: vwm(60px); margin: 0 vwm(47px) 0 vwm(11px);}
    .icon-email{
      width: vwm(62px); height: vwm(42px);
      margin-right: vwm(37px);
    }
    .icon-phone{
      width: vwm(64px); height: vwm(60px);
      margin-right: vwm(35px);
    }
  }
  .himawari_map{
    margin-top: vwm(100px);
    .map{width: 86%; height: vwm(500px);}
  }
  .himawari_class{
    padding-bottom: vwm(70px);
    table{
      th{padding: 0 vwm(20px) vwm(35px);}
      th span,tr td:first-child span{
        border-radius: 10px; font-size: vwm(20px);
      }
      th span{width: vwm(145px); height: vwm(50px);}
      tr td:first-child span{
        width: vwm(170px); height: vwm(65px); line-height: initial;
      }
      tbody{
        tr td:first-child{padding-right: vwm(30px);}
        td{padding: vwm(24px) 0 0;font-size: vwm(22px);}
      }
    }
  }
  .himawari_guide{
    background-repeat: repeat;
    background-position: 0 0;
    .guide{
      width: 84%;
      padding-top: vwm(90px);
      h4{margin-bottom: vwm(30px); font-size: vwm(28px);}
      p{font-size: vwm(24px); line-height: inherit;}
    }
  }
  .form_register{
    width: 70%;
    padding: vwm(30px) 0;
    .form-group{margin-bottom: 12px;}
    h4{margin-bottom: vwm(50px); font-size: vwm(30px);}
    input{
      width: 80%; height: vwm(58px);
      padding: 0 15px;
      font-size: vwm(24px);
    }
    .btn-submit{
      width: vwm(200px); height: vwm(65px);
      margin: vwm(30px) auto 0;
      font-size: vwm(30px);

    }
  }
  .tuition_list{
    max-width: 80%;
    margin-top: vwm(40px);
    li{
      margin-bottom: vwm(24px);
      p{padding-left: vwm(145px); margin-bottom: 0;}
      .note{padding-left: vwm(100px); font-weight: 500; font-style: italic;}
    }
    li:last-child{margin-bottom: 0; padding-bottom: 0;}
    h4,p,li{font-size: vwm(26px);}
    h4:before{display: block; float: left;}
    li:nth-child(odd){
      h4:before{
        width: vwm(80px); height: vwm(73px);
        margin-right: vwm(30px);
      }
    }
    li:nth-child(even){
      h4:before{
        width: vwm(62px); height: vwm(59px);
        margin-right: vwm(45px);
      }
    }
  }
  .page_article{
    h2.title{font-size: vwm(26px); line-height: inherit;}
    time{font-size: vwm(22px);}
    .article{max-width: 60%;}
    .content_detail{
      font-size: 13px; line-height: inherit;
    }
  }
  .popup-video{
    .modal-content{width: 94vw; height: 50vh; padding: 5px;}
  }

  footer{
    padding: 15px;
    clear: both;
    .logo{
      width: vwm(156px); height: vwm(191px);
      display: block; float: left;
      margin: 0 vwm(30px) vwm(40px) 0;
    }
    .info{
      width: 100%;
      margin-bottom: 20px;
      h4,p{line-height: initial;}
      h4{font-size: vwm(28px);}
      p{font-size: vwm(22px);}
    }
    .register{
      h2{margin-bottom: 10px; font-size: vwm(30px);}
      .form-group{margin-bottom: 5px;}
      input{
        width: vwm(689px); height: vwm(77px);
        padding: 0 15px;
        font-size: vwm(23px);
      }
      .btn-submit{width: vwm(173px); height: vwm(74px); font-size: vwm(24px);}
    }
    .btn-chat{
      width: vwm(220px); height: vwm(200px); font-size: vwm(30px);
      padding-bottom: vwm(35px);
    }
  }

  h2.title{
    font-size: vwm(34px);
  }
  h2.title_block{
    width: vwm(320px); height: vwm(90px);
  }
  h2.title_line{
    font-size: vwm(34px);
  }
  p.normal{line-height: initial; font-size: vwm(24px);}
}

@media (min-width: 768px) and (max-width: 1023px){
  .food_menu{
    padding: 0 40px;
    .menu_list{
      li{padding: 15px 10px;}
      h3{font-size: 20px;}
    }
    .slick-next{right: -35px;}
    .slick-prev{left: -35px;}
  }
}

@media (max-width: 1024px){
  .modal-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0; left: 0;
    background: rgba(#000,.6);
    transition: display 1s linear;
    z-index: 90;
    &.is-open{display: block;}
  }
}

@media (orientation: landscape) and (max-width: 1024px){
  .popup-video{
    .modal-content{width: 90vw; height: 90vh; padding: 5px;}
  }
}

// animation
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}