<main class="category">
    <div class="header">
        <h1 class="title"><span>BLOG HOẠT ĐỘNG</span></h1>
    </div>
    <div class="himawari_blog">
        <h2 class="title">Cùng đọc thêm về các hoạt động <br> tại Trường Mầm non Quốc tế Himawari!</h2>
        <div class="blog_list flex">
            <article>
                <a href="" title="" class="thumb blog_img"><img src="./assets/images/img-blog.png" alt=""></a>
                <h3><a href="">Chương trình khai giảng năm học</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </article>
            <article>
                <a href="" title="" class="thumb blog_img"><img src="./assets/images/img-blog.png" alt=""></a>
                <h3><a href="">Chương trình khai giảng năm học</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </article>
            <article>
                <a href="" title="" class="thumb blog_img"><img src="./assets/images/img-blog.png" alt=""></a>
                <h3><a href="">Chương trình khai giảng năm học</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </article>
            <article>
                <a href="" title="" class="thumb blog_img"><img src="./assets/images/img-blog.png" alt=""></a>
                <h3><a href="">Chương trình khai giảng năm học</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </article>
            <article>
                <a href="" title="" class="thumb blog_img"><img src="./assets/images/img-blog.png" alt=""></a>
                <h3><a href="">Chương trình khai giảng năm học</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </article>
            <article>
                <a href="" title="" class="thumb blog_img"><img src="./assets/images/img-blog.png" alt=""></a>
                <h3><a href="">Chương trình khai giảng năm học</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </article>
        </div>
        <a href="" class="btn-view flex-center" title="">Xem thêm</a>
    </div>
</main>