<main class="category">
    <div class="header">
        <h1 class="title"><span>DINH DƯỠNG & SỨC KHỎE</span></h1>
    </div>
    <div class="intro intro_nutrition flex">
        <div class="intro_text">
            <h2>CHẾ ĐỘ DINH DƯỠNG THEO ĐỘ TUỔI</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis maecenas accumsan. 
            </p>
        </div>
        <div class="intro_img">
            <img src="./assets/images/img-dinhduong.png" alt="">
        </div>
    </div>
    <div class="food_import">
        <h2 class="title">QUY TRÌNH NHẬP KHẨU VÀ CHẾ BIẾN THỰC PHẨM</h2>
        <div class="process">
            <img src="./assets/images/quytrinh.png" alt="">
        </div>
    </div>
    <div class="food_list">
        <h2 class="title flex-center">DANH SÁCH NHÀ CUNG CẤP THỰC PHẨM</h2>
        <p><span>Thịt lợn và thịt bò</span> được cung cấp bởi <span>CTTNHH Minh hoa</span></p>
        <p><span>Các loại cá</span> được cung cấp bởi <span>CTTNHH Minh hoa</span></p>
        <p><span>Rau hữu cơ</span> được cung cấp bởi <span>CTTNHH Minh hoa</span></p>
        <p><span>Gạo</span> được cung cấp bởi <span>CTTNHH Minh hoa</span></p>
        <p><span>Các loại hạt</span> được cung cấp bởi <span>CTTNHH Minh hoa</span></p>
    </div>
    <div class="food_menu">
        <h2 class="title title_block">CÁC MÓN ĂN</h2>
        <ul class="menu_list flex">
            <li>
                <a href="" title="" class="thumb thumb_food"><img src="./assets/images/food1.png" alt=""></a>
                <h3><a href="">Miến trộn rau củ</a></h3>
            </li>
            <li>
                <a href="" title="" class="thumb thumb_food"><img src="./assets/images/food2.png" alt=""></a>
                <h3><a href="">Miến trộn rau củ</a></h3>
            </li>
            <li>
                <a href="" title="" class="thumb thumb_food"><img src="./assets/images/food3.png" alt=""></a>
                <h3><a href="">Miến trộn rau củ</a></h3>
            </li>
            <li>
                <a href="" title="" class="thumb thumb_food"><img src="./assets/images/food1.png" alt=""></a>
                <h3><a href="">Miến trộn rau củ</a></h3>
            </li>
            <li>
                <a href="" title="" class="thumb thumb_food"><img src="./assets/images/food2.png" alt=""></a>
                <h3><a href="">Miến trộn rau củ</a></h3>
            </li>
            <li>
                <a href="" title="" class="thumb thumb_food"><img src="./assets/images/food3.png" alt=""></a>
                <h3><a href="">Miến trộn rau củ</a></h3>
            </li>
            <li>
                <a href="" title="" class="thumb thumb_food"><img src="./assets/images/food2.png" alt=""></a>
                <h3><a href="">Miến trộn rau củ</a></h3>
            </li>
        </ul>
    </div>
</main>