<main class="category">
    <div class="header">
        <h1 class="title"><span>Giới thiệu</span></h1>
    </div>
    <div class="intro intro_himawari flex">
        <div class="intro_text">
            <h2>Giới thiệu về Trường mầm non quốc tế Himawari</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
        </div>
        <div class="intro_img">
            <img src="./assets/images/img-intro1.png" alt="">
        </div>
    </div>
    <div class="teacher">
        <h2 class="title title_block">Đội ngũ giáo viên</h2>
        <div class="teacher_list flex">
            <div class="teacher_info flex">
                <div class="info">
                    <h5>Cô Nguyễn Thị Vân</h5>
                    <span>Giáo viên âm nhạc</span>
                    <p>Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi.</p>
                </div>
                <div class="img-avatar">
                    <img src="./assets/images/img-teacher.png" alt="">
                </div>
            </div>
            <div class="teacher_info flex">
                <div class="info">
                    <h5>Cô Nguyễn Thị Vân</h5>
                    <span>Giáo viên âm nhạc</span>
                    <p>Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi.</p>
                </div>
                <div class="img-avatar">
                    <img src="./assets/images/img-teacher.png" alt="">
                </div>
            </div>
            <div class="teacher_info flex">
                <div class="info">
                    <h5>Cô Nguyễn Thị Vân</h5>
                    <span>Giáo viên âm nhạc</span>
                    <p>Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi.</p>
                </div>
                <div class="img-avatar">
                    <img src="./assets/images/img-teacher.png" alt="">
                </div>
            </div>
            <div class="teacher_info flex">
                <div class="info">
                    <h5>Cô Nguyễn Thị Vân</h5>
                    <span>Giáo viên âm nhạc</span>
                    <p>Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi.</p>
                </div>
                <div class="img-avatar">
                    <img src="./assets/images/img-teacher.png" alt="">
                </div>
            </div>
            <div class="teacher_info flex">
                <div class="info">
                    <h5>Cô Nguyễn Thị Vân</h5>
                    <span>Giáo viên âm nhạc</span>
                    <p>Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi.</p>
                </div>
                <div class="img-avatar">
                    <img src="./assets/images/img-teacher.png" alt="">
                </div>
            </div>
            <div class="teacher_info flex">
                <div class="info">
                    <h5>Cô Nguyễn Thị Vân</h5>
                    <span>Giáo viên âm nhạc</span>
                    <p>Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi. Dạy học là niềm tự hào của tôi.</p>
                </div>
                <div class="img-avatar">
                    <img src="./assets/images/img-teacher.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="section fanpage">
        <div class="box-fanpage mobile">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhimawari.kindergarten.timescity%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="box-fanpage pc">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhimawari.kindergarten.timescity%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</main>