<main>
    <section class="section slider_himawari">
        <div class="slider">
            <div class="item video">
                <div class="item_inner">
                    <iframe src="https://www.youtube.com/embed/_V4qY4s3ToM?autoplay=1&showinfo=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="item">
                <div class="item_inner">
                    <img src="./assets/images/food3.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="item_inner">
                    <img src="./assets/images/food2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section introduce">
        <div class="introduce_content flex">
            <div class="text">
                <h2 class="title">GIỚI THIỆU VỀ <br> HIMAWARI PRESCHOOL</h2>
                <p>Chương trình giáo dục đạt tiêu chuẩn Nhật Bản, môi trường phát triển toàn diện cho bé. Chương trình giáo dục đạt tiêu chuẩn Nhật Bản, môi trường phát triển toàn diện cho bé. Chương trình giáo dục đạt tiêu chuẩn Nhật Bản.</p>
            </div>
            <div class="img-container">
                <img src="./assets/images/img-intro.png" alt="">
            </div>
        </div>
    </section>
    <section class="section subjects">
        <h2 class="title">NHỮNG ĐIỀU CON HỌC ĐƯỢC TẠI ĐÂY</h2>
        <ul class="subjects_list flex">
            <li>
                <a href="javascript:;" class="thumb">
                    <img src="./assets/images/img-2.png" alt="">
                </a>
                <h3><a href="">Rèn luyện <br> kỹ năng sống</a></h3>
            </li>
            <li>
                <a href="javascript:;" class="thumb">
                    <img src="./assets/images/img-2.png" alt="">
                </a>
                <h3><a href="">Hoạt động thể chất</a></h3>
            </li>
            <li>
                <a href="javascript:;" class="thumb">
                    <img src="./assets/images/img-2.png" alt="">
                </a>
                <h3><a href="">Trang bị kiến thức</a></h3>
            </li>
            <li>
                <a href="javascript:;" class="thumb">
                    <img src="./assets/images/img-2.png" alt="">
                </a>
                <h3><a href="">Phát triển âm nhạc</a></h3>
            </li>       
        </ul>
    </section>
    <section class="section feature">
        <h2 class="title">ĐIỂM KHÁC BIỆT CỦA <br> HIMAWARI PRESCHOOL</h2>
        <div class="feature_list flex">
            <div class="item item1">
                <p>Áp dụng phương pháp dậy học của Nhật bản với các kỹ năng tự lập từ bé giúp trẻ có khả năng tự lập trong suy nghĩ và hành động.</p>
            </div>
            <div class="item item2">
                <p>Ở Himawari các con thường xuyên được thay đổi môi trường học, thường xuyên được đi tham quan dã ngoại, trải nghiệm phong cách nông trại của nhật, được vận động thể dục theo phương pháp của Nhật, được học cảm thụ âm nhạc giúp các con phát triển tư duy tăng cảm xúc.</p>
            </div>
            <div class="item item3">
                <p>Chế độ dinh dưỡng chuẩn Nhật được nấu trưc tiếp từ người Nhật với các hàm lượng dinh dưỡng chuẩn, đảm bảo những bữa ăn chất lượng và đầy đủ dinh dưỡng.</p>
            </div>
            <div class="item item4">
                <p>Ở Himawari các con được học tiếng anh với giáo viên bản ngữ theo chương trình riêng giúp các con tăng khả năng tiếng anh và khả năng tự tin khi giao tiếp.</p>
            </div>
        </div>
    </section>
    <section class="section blog">
        <div class="blog_container">
            <h2 class="title">BLOG HOẠT ĐỘNG</h2>
            <div class="blog_item">
                <a href="" title="" class="thumb_blog">
                    <img src="./assets/images/thumb_blog.jpg" alt="">
                </a>
                <div class="content">
                    <time>02.08.2019</time>
                    <h3><a href="">Các hoạt động vui chơi ngoài trời của các bé</a></h3>
                    <a href="" class="btn-view" title="xem thêm">xem thêm</a>
                </div>
            </div>
            <div class="blog_item">
                <a href="" title="" class="thumb_blog">
                    <img src="./assets/images/thumb_blog.jpg" alt="">
                </a>
                <div class="content">
                    <time>02.08.2019</time>
                    <h3><a href="">Các hoạt động vui chơi ngoài trời của các bé</a></h3>
                    <a href="" class="btn-view" title="xem thêm">xem thêm</a>
                </div>
            </div>
            <a href="" title="Xem thêm" class="btn_view flex-center">Xem thêm</a>
        </div>
    </section>
    <section class="section fanpage">
        <div class="box-fanpage mobile">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhimawari.kindergarten.timescity%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="box-fanpage pc">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhimawari.kindergarten.timescity%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </section>
    <div class="modal fade popup-video" id="popup-video">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <iframe src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</main>
