<main class="category">
    <div class="header">
        <h1 class="title"><span>Liên hệ</span></h1>
    </div>
    <div class="himawari_contact">
        <h2 class="title_line flex-center">Trường mầm non Himawari Preschool</h2>
        <p>
            <i class="icon icon-address"></i>
            <span>Số 1, ngõ 55, Huỳnh Thúc Kháng, Ba Đình, Hà Nội</span>
        </p>
        <p>
            <i class="icon icon-email"></i>
            <a href="mailto:himawaripreschool@gmail.com">himawaripreschool@gmail.com</a>
        </p>
        <p>
            <i class="icon icon-phone"></i>
            <a class="phone" href="tel:0123456788">012 345 67 88</a>
        </p>
    </div>
    <div class="himawari_register">
        <form action="" class="form_register">
            <h4>Đăng ký nhận thông tin tư vấn</h4>
            <div class="form-group">
                <input type="text" name="fullname" placeholder="Họ và tên ba mẹ" required>
            </div>
            <div class="form-group">
                <input type="number" name="phone" placeholder="Số điện thoại liên hệ" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Địa chỉ e-mail" required>
            </div>
            <input type="submit" value="Đăng ký" class="btn-submit flex-center">
        </form>
    </div>
    <div class="himawari_map">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1565.902211424893!2d105.80899727263058!3d21.018112539848172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab66c3d40483%3A0x48675018ad9a6114!2zTmfDtSA1NSAtIEh14buzbmggVGjDumMgS2jDoW5nLCBMw6FuZyBI4bqhLCDEkOG7kW5nIMSQYSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1568889762359!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</main>