<main class="category">
    <div class="header">
        <h1 class="title"><span>Tuyển sinh</span></h1>
    </div>
    <div class="himawari_class">
        <h2 class="title_line flex-center">Các lớp học tại Himawari Preschool</h2>
        <div class="box_table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th><span>Số học sinh</span></th>
                        <th><span>Độ tuổi</span></th>
                        <th><span>Ghi chú</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>Lớp Ichigo <br> (Lớp Dâu tây)</span></td>
                        <td>30 em</td>
                        <td>0-2 tuổi</td>
                        <td>300 em</td>
                    </tr>
                    <tr>
                        <td><span>Lớp Momo <br> (Lớp Đào)</span></td>
                        <td>30 em</td>
                        <td>0-2 tuổi</td>
                        <td>300 em</td>
                    </tr>
                    <tr>
                        <td><span>Lớp Ringo <br> (Lớp Táo)</span></td>
                        <td>30 em</td>
                        <td>0-2 tuổi</td>
                        <td>300 em</td>
                    </tr>
                    <tr>
                        <td><span>Lớp Banana <br> (Lớp Chuối)</span></td>
                        <td>30 em</td>
                        <td>0-2 tuổi</td>
                        <td>300 em</td>
                    </tr>
                    <tr>
                        <td><span>Lớp Suika <br> (Dưa hấu)</span></td>
                        <td>30 em</td>
                        <td>0-2 tuổi</td>
                        <td>300 em</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="himawari_tuition">
        <h2 class="title_line flex-center">Học phí (hàng tháng)</h2>
        <ul class="tuition_list">
            <li>
                <h4>Đối với học sinh 0-2 tuổi: 3.000.000 VNĐ/học sinh</h4>
            </li>
            <li>
                <h4>Đối với học sinh 3-5 tuổi: 2.800.000 VNĐ/học sinh</h4>
            </li>
            <li>
                <h4>Ưu đãi đối với anh chị em:</h4>
                <p>5.000.000 VNĐ/2 học sinh</p>
                <p>8.000.000 VNĐ/3 học sinh</p>
                <span class="note">(mức ưu đãi này giống nhau đối với mọi lứa tuổi)</span>
            </li>
            <li>
                <h4>Tiền ăn trưa: 1.800.000 VNĐ/học sinh</h4>
            </li>
        </ul>
    </div>
    <div class="himawari_guide">
        <div class="guide">
            <h2 class="title">HƯỚNG DẪN ĐĂNG KÝ HỌC</h2>
            <article>
                <h4>1. Tư vấn phụ huynh</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <h4>2. Đăng ký nhập học</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <h4>3. Nhập học chính thức</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            </article>
        </div>
    </div>
</main>